
.ztree li span.button.signal_ico_open,.ztree li span.button.signal_ico_close,.ztree li span.button.signal_ico_docu
{
    background-image: url('../images/icon/small_signal.png');
}
.ztree li span.button.dept_ico_open,.ztree li span.button.dept_ico_close,.ztree li span.button.dept_ico_docu
{
    background-image: url('../images/icon/dept.ico');
}
.ztree li span.button.module_ico_open,.ztree li span.button.module_ico_close,.ztree li span.button.module_ico_docu
{
    background-image: url('../images/icon/module.ico');
}

.ztree li span.button.add_ico_open,.ztree li span.button.add_ico_close,.ztree li span.button.add_ico_docu
{
    background-image: url('../images/img/add.ico');
}
.ztree li span.button.modify_ico_open,.ztree li span.button.modify_ico_close,.ztree li span.button.modify_ico_docu
{
    background-image: url('../images/img/modify.ico');
}
.ztree li span.button.del_ico_open,.ztree li span.button.del_ico_close,.ztree li span.button.del_ico_docu
{
    background-image: url('../images/img/del.ico');
}
.ztree li span.button.watch_ico_open,.ztree li span.button.watch_ico_close,.ztree li span.button.watch_ico_docu
{
    background-image: url('../images/img/watch.ico');
}
.ztree li span.button.user_ico_open,.ztree li span.button.user_ico_close,.ztree li span.button.user_ico_docu
{
    background-image: url('../images/icon/user.png');
}
.ztree li span.button.region_ico_open,.ztree li span.button.region_ico_close,.ztree li span.button.region_ico_docu
{
    background-image: url('../images/icon/module.ico');
}
.ztree li span.button.cross_ico_open,.ztree li span.button.cross_ico_close,.ztree li span.button.cross_ico_docu
{
    background-image: url('../images/icon/cross.ico');
}